!!! 5
html(lang='en')
  head
    include includes/head
    link(rel='stylesheet', href='/css/chat.css')

  body!= body

  include includes/footer  
  script(src='/js/libs/bootstrap/alert.js')
  script(src='/js/libs/bootstrap/tooltip.js')
  script
    Modernizr.load([{
      test: Modernizr.history,
      nope: '/js/libs/jquery.history.js',
      complete: function () {
        if (Modernizr.history) {
          window.History = window.history;
        }
      }
    },
    {
      test: Modernizr.audio,
      nope: '/js/libs/audio.min.js',
      complete: function () {
        if (!Modernizr.audio) {
          audiojs.events.ready(function() {
            window.as = audiojs.createAll();
          });
        }
      }
    }]);
  if loggedIn
    script
      if (window.location.hash) {
        window.location.hash = '';
        window.History.replaceState(null, null, window.location.href.slice(0, -1));
      }
      window.History.replaceState(null, null, '/dashboard');
      var uid = #{user.id};
      var name = '#{user.firstname + ' ' + user.lastname.charAt(0)}';
      var rooms = !{JSON.stringify(rooms)}
  else 
    script
      window.History.pushState(null, null, '/');
      var uid = null
      var name = null
      var rooms = !{JSON.stringify(rooms)}
  script(src='/js/libs/linkify.min.js')
  script(src='/js/chat.js')

