!!! 5
html(lang='en')
  head
    include includes/head
    link(rel='stylesheet', href='/css/chat.css')

  body!= body

  include includes/footer  
  script(src='/js/libs/bootstrap/tooltip.js')
  if loggedIn
    script
      var uid = #{user.id};
      var name = '#{user.firstname + ' ' + user.lastname.charAt(0)}';
      var rooms = !{JSON.stringify(rooms)}
  else 
    script
      var uid = null
      var name = null
      var rooms = !{JSON.stringify(rooms)}
  script(src='/js/libs/linkify.min.js')
  script(src='/js/chat.js')

