!!! 5
html(lang='en')
  head
    include includes/head
    link(rel='stylesheet', href='/css/dashboard.css')

  body!= body

  include includes/footer
  script
    var rooms = !{JSON.stringify(rooms)};
    var uid = #{user.id};
    var name = '#{user.firstname + ' ' + user.lastname.charAt(0)}';
    var hasPhoneNum = #{hasPhoneNum}
    var firstTime = #{firstTimeUser}
    window.firstlogin = firstTime;
  script
    Modernizr.load([{
      test: Modernizr.history,
      nope: '/js/libs/jquery.history.js',
      complete: function () {
        if (Modernizr.history) {
          window.History = window.history;
        }
      }
    }, 
    {
      load: '/js/geo.js',
      test: Modernizr.geolocation,
      nope: '/js/libs/yqlgeo.js',
      complete: function() {
        getGeo();
      }
    }]);
  script(src='/js/libs/bootstrap/alert.js')
  script(src='/js/libs/bootstrap/modal.js')
  script 
    if (window.location.hash) {
      window.location.hash = '';
      window.History.replaceState(null, null, window.location.href.slice(0, -1));
    }
  script
    if (firstTime){
      $(function () { 
        $("#firstlogin").modal();
      });
    }
  script(src='/js/dashboard.js')
